* {
  border: grey 1px solid;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {

}

h1 {
  font-weight: 300;
  color: #DD1972;
  text-transform: uppercase;
}

.sub-headline {
  text-transform: uppercase;
}

.set-range-text {
  font-weight: 700;
  color: 404041;
}

label {
  /*font-weight: 300;*/
  color: #6E6E6E;
}

.container {
  display: flex;
}

header {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: auto;
  background-color: #404041;
}

main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}

.set-range-feature {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 10px;
 /* align-items: flex-end;
  display: flex;
  justify-content: space-around;
  margin: 5px 15px;
  position: relative;*/
}

.range-form {
  display: flex;
  justify-content: space-between;
  /*flex-direction: column;*/
}

/*.wrapper {
  display: flex;
}*/

.min-range,
.max-range {
  display: flex;
  flex-direction: column;
}

.challenger-guess-feature {
  display: flex;
  height: 200px;
  margin: 10px;
  flex-wrap: wrap;
}

.latest-score {
  display: flex;
  height: 150px;
  margin: 10px;
}

.latest-score-left {
  width: 50%;
}

.latest-score-right {
  width: 50%;
}

output {
  width: 50%;
  display: flex;
  justify-content: center;
}

.number-word {
  
  font-weight: 700;
}




